* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    background-image: url('../mur-horloge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title,
.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.title {
    text-align: center;
    margin: 2em;
}
.title h1 {
    margin: 0;
    font-size: 4rem;
    color: #333;
}

.title p {
    font-size: 2rem;
    color: #333;
}
.container {
    font-size: 16px;
}

input,
select {
    cursor: pointer;
}
#timesetup,
#DurationHours,
#DurationMinutes {
    width: 4.2rem;
    margin: 5px 0px;
}
#typeofexam {
    width: 100%;
    margin: 5px 0px;
}
#start {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.form {
    text-align: center;
    padding: 10px;
}
.form button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
legend {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}
